
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddMarkerList</title>
</head>
<body>
    count: @ViewBag.count
    len : @ViewBag.l
    markerlist len :@ViewBag.len1
    <div> 
    </div>
</body>
</html>
