@model Minimap.Core.Entities.UserType

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteUserType</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>UserType</h4>
        <hr />
        <form action="DeleteUserType" method="post">
            <dl class="dl-horizontal">
                <dt>
                    <label> Name </label>
                </dt>

                <dd>
                    <input type="text" name="typeName" id="typeName" value="@Html.DisplayFor(m => m.UserTypeName)" />
                </dd>

            </dl>


            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "UserTypes")
            </div>
        </form>
        
        
    </div>
</body>
</html>
