@model Minimap.Core.Entities.UserType

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserTypeDetails</title>
</head>
<body>
    <div>
        <h4>UserType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserTypeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserTypeName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditUserType", new { id = Model.UserTypeId }) |
        @Html.ActionLink("Back to List", "UserTypes")
    </p>
</body>
</html>
